<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/send"  method="post">
<textarea name="phone" placeholder="Phone Numbers, separate with commas"></textarea>
<input type="text" name="sender" placeholder="Sender Name" />
<button type="submit">Send</button>
</form>
